.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ChatTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 80%;
  overflow-y: scroll;
  padding: 10px;
}

.user-message {
  background-color: #f2f2f2;
  color: black;
  align-self: flex-end;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  word-wrap: break-word;
}

.bot-message {
  background-color: #4caf50;
  color: white;
  align-self: flex-start;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  word-wrap: break-word;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid green;
  outline: none;
}

#sendButton {
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

#sendButton:hover {
  opacity: 0.8;
}